.sidebarRow {
  display: flex;
  align-items: center;
  padding: 0.6rem 1.3rem;
  transition: background-color 0.2s ease-in-out;
}

.sidebarRow__icon {
  color: #606060;
  font-size: 1.3rem !important;
}

.sidebarRow__title {
  flex: 1;
  margin-left: 1.15rem;
  font-size: 1rem;
  font-weight: 400;
}

.sidebarRow:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.sidebarRow:hover > .sidebarRow__icon {
  color: #ff0000;
  transition: color 0.2s ease-in-out;
}

.sidebarRow:hover > .sidebarRow__title {
  font-weight: 500;
  transition: font-weight 0.2s ease-in-out;
}

.sidebarRow.selected {
  background-color: lightgrey;
}
.sidebarRow.selected > .sidebarRow__icon {
  color: #ff0000;
}

.sidebarRow.selected > .sidebarRow__title {
  font-weight: 500;
}
